body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to top right,
        #6eebe9 20%,
        #d5d8d6,
        #ffffff
    );
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: #191919;
}
#hero_left_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero_left_div a {
    text-decoration: none;
    color: #191919;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}

hr {
    color: #90a9b3;
}

#hero {
    margin-bottom: 100px;
}
#specifications {
    margin-top: 90px;
    margin-bottom: 90px;
}
#specifications h1 {
    margin-bottom: 60px;
}
#specifications a {
    text-decoration: none;
    color: #191919;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}
.col-lg-2 a {
    text-decoration: none;
    color: #191919;
}
.col-lg-2 li {
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
}
#socials img {
    width: 35px;
}
#footer_row {
    padding-top: 30px;
    padding-bottom: 30px;
}
tr {
    border-bottom: solid 1px #191919;
}
.table {
    margin-bottom: 80px;
}
.add_cart_form {
    display: inline;
}
.add_cart_input {
    text-decoration: none;
    color: #191919;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}
